.navbar-background {
    background-color: transparent !important;
}

.navbar-item {
    color: white !important;
}

.navbar-item:hover {
    color: black !important;
    background-color: white;
    border-radius: 20px;
}

.video-link {
    color: inherit;
}

.video-link:hover {
    color: mediumspringgreen !important;
}