.navbar-background {
    background-color: transparent !important;
}

.banner {
    width: 100%;
}

.banner-text {
    padding: 16% 0% 16% 0%;
    text-align: center;
    color: white;
}

.navbar-item {
    color: white !important;
}

.navbar-item:hover {
    color: black !important;
    background-color: white;
    border-radius: 20px;
}